target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

eventlog0/
eventlog0*
eventlog*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

